org.eclipse.amp.amf.acore/src/model/MetaABMActXML.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:act="http://metaabm.org/act" xmlns:metaabm="http://metaabm.org/structure" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://metaabm.org/act">
  <xsd:import namespace="http://metaabm.org/structure" schemaLocation="metaabm.xsd"/>
  <xsd:simpleType name="ABuildSpaceTypes">
    <xsd:restriction base="xsd:NCName">
      <xsd:enumeration value="Random"/>
      <xsd:enumeration value="RandomAroundPoint"/>
      <xsd:enumeration value="File"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ABuildNetworkTypes">
    <xsd:restriction base="xsd:NCName">
      <xsd:enumeration value="Barabasi"/>
      <xsd:enumeration value="ErdosRenyi"/>
      <xsd:enumeration value="EppsteinPowerLaw"/>
      <xsd:enumeration value="GraphML"/>
      <xsd:enumeration value="KleinbergSmallWorld"/>
      <xsd:enumeration value="Lattice1D"/>
      <xsd:enumeration value="Lattice2D"/>
      <xsd:enumeration value="Pajek"/>
      <xsd:enumeration value="RandomDensity"/>
      <xsd:enumeration value="WattsSmallWorld"/>
      <xsd:enumeration value="ASCIIMatrix"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ASelectTypes">
    <xsd:restriction base="xsd:NCName">
      <xsd:enumeration value="One"/>
      <xsd:enumeration value="All"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="AInput">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="literal" type="act:ALiteral"/>
    </xsd:sequence>
    <xsd:attribute name="sink" type="xsd:string"/>
    <xsd:attribute name="selected" type="xsd:string"/>
    <xsd:attribute name="value" type="xsd:string"/>
  </xsd:complexType>
  <xsd:element name="AInput" type="act:AInput"/>
  <xsd:complexType name="ALiteral">
    <xsd:complexContent>
      <xsd:extension base="metaabm:IValue">
        <xsd:attribute name="valueLiteral" type="xsd:string" use="required"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="ALiteral" type="act:ALiteral"/>
  <xsd:complexType name="AMultiValue">
    <xsd:complexContent>
      <xsd:extension base="act:ALiteral">
        <xsd:attribute name="values" type="xsd:string"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="AMultiValue" type="act:AMultiValue"/>
  <xsd:complexType abstract="true" name="AShaped">
    <xsd:attribute default="POINT" name="shape" type="metaabm:SShapeType" use="required"/>
  </xsd:complexType>
  <xsd:complexType abstract="true" name="AAct">
    <xsd:complexContent>
      <xsd:extension base="metaabm:IID">
        <xsd:attribute name="sources" type="xsd:string"/>
        <xsd:attribute name="targets" type="xsd:string"/>
        <xsd:attribute name="group" type="xsd:string"/>
        <xsd:attribute name="selected" type="xsd:string"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType abstract="true" name="AControl">
    <xsd:complexContent>
      <xsd:extension base="act:AAct"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType abstract="true" name="ARoot">
    <xsd:complexContent>
      <xsd:extension base="act:ASelect"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="AGroup">
    <xsd:complexContent>
      <xsd:extension base="act:AAct">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="members" type="act:AAct"/>
        </xsd:sequence>
        <xsd:attribute name="pluralLabel" type="xsd:string"/>
        <xsd:attribute name="description" type="xsd:string"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="AGroup" type="act:AGroup"/>
  <xsd:complexType name="ASchedule">
    <xsd:complexContent>
      <xsd:extension base="act:ARoot">
        <xsd:attribute name="pluralLabel" type="xsd:string"/>
        <xsd:attribute name="description" type="xsd:string"/>
        <xsd:attribute name="start" type="xsd:int">
          <xsd:annotation>
            <xsd:documentation>The first iteration in which to execute the activity.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="interval" type="xsd:int">
          <xsd:annotation>
            <xsd:documentation>Specifies the interval. If &gt; 0, then the method is scheduled to repeat at the specified interval. Otherwise, method is scheduled for one time execution. Default is 0 meaning by default the method will only execute once.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="priority" type="xsd:int">
          <xsd:annotation>
            <xsd:documentation>Priority w/r to other actions scheduled for the same tick. Default is [currently unspecified].</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="pick" type="xsd:int">
          <xsd:annotation>
            <xsd:documentation>How many ticks the action can execute in the background while the tick count
 progresses. Default is no duration [-1] meaning the method must finish execution before the next scheduled action can execute.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="ASchedule" type="act:ASchedule"/>
  <xsd:complexType name="ARule">
    <xsd:complexContent>
      <xsd:extension base="act:ARoot">
        <xsd:attribute name="pluralLabel" type="xsd:string"/>
        <xsd:attribute name="description" type="xsd:string"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="ARule" type="act:ARule"/>
  <xsd:complexType name="ABuild">
    <xsd:complexContent>
      <xsd:extension base="act:ARoot">
        <xsd:attribute name="pluralLabel" type="xsd:string"/>
        <xsd:attribute name="description" type="xsd:string"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="ABuild" type="act:ABuild"/>
  <xsd:complexType name="AInitialize">
    <xsd:complexContent>
      <xsd:extension base="act:ARoot">
        <xsd:attribute name="pluralLabel" type="xsd:string"/>
        <xsd:attribute name="description" type="xsd:string"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="AInitialize" type="act:AInitialize"/>
  <xsd:complexType name="AMethod">
    <xsd:complexContent>
      <xsd:extension base="act:AAct">
        <xsd:attribute name="pluralLabel" type="xsd:string"/>
        <xsd:attribute name="description" type="xsd:string"/>
        <xsd:attribute name="body" type="xsd:string"/>
        <xsd:attribute default="true" name="generate" type="xsd:boolean"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="AMethod" type="act:AMethod"/>
  <xsd:complexType abstract="true" name="ASink">
    <xsd:complexContent>
      <xsd:extension base="act:AAct">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="inputs" type="act:AInput"/>
        </xsd:sequence>
        <xsd:attribute name="function" type="xsd:string"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType abstract="true" name="ALogic">
    <xsd:complexContent>
      <xsd:extension base="act:AControl"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="AAny">
    <xsd:complexContent>
      <xsd:extension base="act:ALogic"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="AAny" type="act:AAny"/>
  <xsd:complexType name="AAll">
    <xsd:complexContent>
      <xsd:extension base="act:ALogic"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="AAll" type="act:AAll"/>
  <xsd:complexType name="ANone">
    <xsd:complexContent>
      <xsd:extension base="act:ALogic"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="ANone" type="act:ANone"/>
  <xsd:complexType name="AQuery">
    <xsd:complexContent>
      <xsd:extension base="act:ASink"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="AQuery" type="act:AQuery"/>
  <xsd:complexType name="AEvaluate">
    <xsd:complexContent>
      <xsd:extension base="act:ASink"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="AEvaluate" type="act:AEvaluate"/>
  <xsd:complexType abstract="true" name="AAccessor">
    <xsd:complexContent>
      <xsd:extension base="act:AAct">
        <xsd:attribute name="attribute" type="xsd:string"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="AWatch">
    <xsd:complexContent>
      <xsd:extension base="act:AAccessor">
        <xsd:attribute name="for" type="act:ASelectTypes" use="required"/>
        <xsd:attribute name="agent" type="xsd:string"/>
        <xsd:attribute name="space" type="xsd:string"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="AWatch" type="act:AWatch"/>
  <xsd:complexType name="ASet">
    <xsd:complexContent>
      <xsd:extension base="act:AAccessor">
        <xsd:attribute name="parameter" type="xsd:string"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="ASet" type="act:ASet"/>
  <xsd:complexType name="ACreateAgents">
    <xsd:complexContent>
      <xsd:extension base="act:ASelect">
        <xsd:attribute name="agentCount" type="xsd:string"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="ACreateAgents" type="act:ACreateAgents"/>
  <xsd:complexType name="ACreateShapedAgents">
    <xsd:complexContent>
      <xsd:extension base="act:ACreateAgents">
        <xsd:attribute default="POINT" name="shape" type="metaabm:SShapeType" use="required"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="ACreateShapedAgents" type="act:ACreateShapedAgents"/>
  <xsd:complexType name="ALoadAgents">
    <xsd:complexContent>
      <xsd:extension base="act:ACreateAgents">
        <xsd:attribute name="sourceURL" type="xsd:string" use="required"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="ALoadAgents" type="act:ALoadAgents"/>
  <xsd:complexType name="ALoadShapedAgents">
    <xsd:complexContent>
      <xsd:extension base="act:ALoadAgents">
        <xsd:attribute default="POINT" name="shape" type="metaabm:SShapeType" use="required"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="ALoadShapedAgents" type="act:ALoadShapedAgents"/>
  <xsd:complexType abstract="true" name="ABuildProjection">
    <xsd:complexContent>
      <xsd:extension base="act:AAct">
        <xsd:attribute name="pluralLabel" type="xsd:string"/>
        <xsd:attribute name="description" type="xsd:string"/>
        <xsd:attribute name="agents" type="xsd:string"/>
        <xsd:attribute name="projection" type="xsd:string"/>
        <xsd:attribute name="attributes" type="xsd:string"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ABuildNetwork">
    <xsd:complexContent>
      <xsd:extension base="act:ABuildProjection">
        <xsd:attribute name="networkType" type="act:ABuildNetworkTypes" use="required"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="ABuildNetwork" type="act:ABuildNetwork"/>
  <xsd:complexType name="ABuildSpace">
    <xsd:complexContent>
      <xsd:extension base="act:ABuildProjection">
        <xsd:attribute name="spaceType" type="act:ABuildSpaceTypes" use="required"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="ABuildSpace" type="act:ABuildSpace"/>
  <xsd:complexType name="ABuildGeography">
    <xsd:complexContent>
      <xsd:extension base="act:ABuildProjection"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="ABuildGeography" type="act:ABuildGeography"/>
  <xsd:complexType name="ABuildGrid">
    <xsd:complexContent>
      <xsd:extension base="act:ABuildSpace">
        <xsd:attribute name="fillAgent" type="xsd:string"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="ABuildGrid" type="act:ABuildGrid"/>
  <xsd:complexType name="ASelect">
    <xsd:complexContent>
      <xsd:extension base="act:AAct">
        <xsd:attribute name="for" type="act:ASelectTypes" use="required"/>
        <xsd:attribute name="agent" type="xsd:string"/>
        <xsd:attribute name="space" type="xsd:string"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="ASelect" type="act:ASelect"/>
  <xsd:complexType name="AMove">
    <xsd:complexContent>
      <xsd:extension base="act:ATransform"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="AMove" type="act:AMove"/>
  <xsd:complexType abstract="true" name="ATransform">
    <xsd:complexContent>
      <xsd:extension base="act:ACommand">
        <xsd:attribute name="destination" type="xsd:string"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ALeave">
    <xsd:complexContent>
      <xsd:extension base="act:ATransform"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="ALeave" type="act:ALeave"/>
  <xsd:complexType name="ADie">
    <xsd:complexContent>
      <xsd:extension base="act:ATransform"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="ADie" type="act:ADie"/>
  <xsd:complexType name="AConnect">
    <xsd:complexContent>
      <xsd:extension base="act:ANetwork">
        <xsd:attribute default="true" name="directed" type="xsd:boolean"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="AConnect" type="act:AConnect"/>
  <xsd:complexType abstract="true" name="ANetwork">
    <xsd:complexContent>
      <xsd:extension base="act:ATransform">
        <xsd:attribute name="within" type="xsd:string"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ADisconnect">
    <xsd:complexContent>
      <xsd:extension base="act:ANetwork"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="ADisconnect" type="act:ADisconnect"/>
  <xsd:complexType name="AReplace">
    <xsd:complexContent>
      <xsd:extension base="act:AConnect"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="AReplace" type="act:AReplace"/>
  <xsd:complexType abstract="true" name="ACommand">
    <xsd:complexContent>
      <xsd:extension base="act:AAct"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ACause">
    <xsd:complexContent>
      <xsd:extension base="act:ACommand">
        <xsd:attribute name="result" type="xsd:string"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="ACause" type="act:ACause"/>
  <xsd:complexType name="ADiffuse">
    <xsd:complexContent>
      <xsd:extension base="act:ARoot">
        <xsd:attribute name="diffused" type="xsd:string"/>
        <xsd:attribute name="diffusionRate" type="xsd:string"/>
        <xsd:attribute name="evaporationRate" type="xsd:string"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="ADiffuse" type="act:ADiffuse"/>
  <xsd:complexType name="APerform">
    <xsd:complexContent>
      <xsd:extension base="act:ARoot"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="APerform" type="act:APerform"/>
  <xsd:complexType name="ADerive">
    <xsd:complexContent>
      <xsd:extension base="act:AAccessor">
        <xsd:attribute name="for" type="act:ASelectTypes" use="required"/>
        <xsd:attribute name="agent" type="xsd:string"/>
        <xsd:attribute name="space" type="xsd:string"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="ADerive" type="act:ADerive"/>
</xsd:schema>
